In [1]:
#Setup
import pandas as pd
import numpy as np

In [2]:
# Import date file
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

In [3]:
# List of screen names for all players
total_players = len(purchase_data["SN"].value_counts())

# Data frame with all players
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

In [4]:
# Calculations for unique items, avg price, purchase count, and revenue
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

# Data frame with values
summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})
# Formatting
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

In [5]:
# purchase_data by gender
gender_stats = purchase_data.groupby("Gender")

# screen name count by gender
total_count_gender = gender_stats.nunique()["SN"]

# total gender count divided by total players
percentage_of_players = total_count_gender / total_players * 100

# data frames with values
gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})

# formatting
gender_demographics.index.name = None

gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

In [6]:
# total gender purchase count
purchase_count = gender_stats["Purchase ID"].count()

# avg gender purchase price
avg_purchase_price = gender_stats["Price"].mean()

# avg gender purchase total
avg_purchase_total = gender_stats["Price"].sum()

# avg gender purchase total divided by unique shopper purchase count
avg_purchase_per_person = avg_purchase_total/total_count_gender

# data frames with values
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

# created index
gender_demographics.index.name = "Gender"

# formatting
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

In [7]:
# bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#additional sorting
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

# age group data frame created
age_grouped = purchase_data.groupby("Age Group")

# total players by age
total_count_age = age_grouped["SN"].nunique()

# percent calculations
percentage_by_age = (total_count_age/total_players) * 100

# data frame with values
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

# Formatting
age_demographics.index.name = None

# Formatting percentages
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

In [8]:
# grouping by screen names
spender_stats = purchase_data.groupby("SN")

# total purchase count
purchase_count_spender = spender_stats["Purchase ID"].count()

# avg purchase by name
avg_purchase_price_spender = spender_stats["Price"].mean()

# purchase total
purchase_total_spender = spender_stats["Price"].sum()

# data frames with values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# sorting
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# formatting
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [9]:
# items data frame
items = purchase_data[["Item ID", "Item Name", "Price"]]

# grouping for items by ID and name
item_stats = items.groupby(["Item ID","Item Name"])

# item purchased count
purchase_count_item = item_stats["Price"].count()

# item purchase value
purchase_value = (item_stats["Price"].sum()) 

# single item price
item_price = purchase_value/purchase_count_item

# data frames with values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})
# sorting
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

#formatting
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [10]:
# changing of most popular data frame to highest total purchase
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()

# formatting
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})